In [1]:
import pandas as pd

In [2]:
# Read data from website
col_names = ['ENTIDAD', 'AÑO', 'ENERO', 'FEBRERO', 'MARZO', 'ABRIL', 'MAYO', 'JUNIO',
             'JULIO', 'AGOSTO', 'SEPTIEMBRE', 'OCTUBRE', 'NOVIEMBRE', 'DICIEMBRE', 'UNIDAD']
temperature = pd.read_csv("http://201.116.60.46/DatosAbiertos/Temperatura_maxima.csv",
                          header = 0,
                          names = col_names
                         )

In [3]:
# Check data was correctly loaded
temperature.head()

,ENTIDAD,AÑO,ENERO,FEBRERO,MARZO,ABRIL,MAYO,JUNIO,JULIO,AGOSTO,SEPTIEMBRE,OCTUBRE,NOVIEMBRE,DICIEMBRE,UNIDAD
0,AGUASCALIENTES,1985.0,20.712779,23.740903,26.517556,26.513333,30.245694,26.440566,24.571646,25.713025,26.628718,25.651055,24.206026,21.895806,�C
1,BAJA CALIFORNIA,1985.0,17.562808,19.548684,20.531768,26.056186,26.951639,32.019627,34.452996,34.598735,29.792175,27.084412,21.310611,20.509112,�C
2,BAJA CALIFORNIA SUR,1985.0,22.659097,24.271991,27.016454,28.987758,31.579313,33.379501,35.283168,35.566273,34.789445,31.879994,27.713117,26.151145,�C
3,CAMPECHE,1985.0,29.954718,31.793426,34.539973,34.748942,35.790283,34.990676,34.373901,34.654897,33.816518,32.921266,32.362377,30.606336,�C
4,COAHUILA DE ZARAGOZA,1985.0,15.060987,19.340677,25.644739,27.624163,31.286655,31.873830,31.997727,32.132009,31.033711,27.792773,25.690451,20.999594,�C

In [4]:
# Quick info on the dataset
temperature.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 993 entries, 0 to 992
Data columns (total 15 columns):
ENTIDAD       992 non-null object
AÑO           992 non-null float64
ENERO         992 non-null float64
FEBRERO       992 non-null float64
MARZO         992 non-null float64
ABRIL         992 non-null float64
MAYO          992 non-null float64
JUNIO         992 non-null float64
JULIO         992 non-null float64
AGOSTO        992 non-null float64
SEPTIEMBRE    992 non-null float64
OCTUBRE       960 non-null float64
NOVIEMBRE     960 non-null float64
DICIEMBRE     960 non-null float64
UNIDAD        992 non-null object
dtypes: float64(13), object(2)
memory usage: 116.4+ KB

In [5]:
# Delete the 'UNIDAD' column
temperature.drop('UNIDAD', axis = 1, inplace = True)

In [6]:
# Check dimensions
temperature.shape

(993, 14)

In [7]:
# Gather the dataset
temperature = pd.melt(temperature, 
        id_vars=['ENTIDAD', 'AÑO'], 
        value_vars = ['ENERO', 'FEBRERO', 'MARZO', 'ABRIL', 'MAYO', 'JUNIO',
                      'JULIO', 'AGOSTO', 'SEPTIEMBRE', 'OCTUBRE', 'NOVIEMBRE', 'DICIEMBRE'],
        var_name = 'MES',
        value_name = 'TEMPERATURA')

In [8]:
# Drop NaNs
temperature.dropna(how='any', inplace=True)

In [9]:
# Change data type of AÑO
temperature['AÑO'] = temperature['AÑO'].astype(int)

In [10]:
# Convert MES to integer
def convertidorMES(mes):
    meses = ['ENERO', 'FEBRERO', 'MARZO', 'ABRIL', 'MAYO', 'JUNIO',
             'JULIO', 'AGOSTO', 'SEPTIEMBRE', 'OCTUBRE', 'NOVIEMBRE', 'DICIEMBRE']
    return meses.index(mes) + 1

temperature['MES_int'] = temperature.MES.apply(convertidorMES)

In [11]:
# Create FECHA column
from datetime import datetime

x = []
for year, month in zip(temperature['AÑO'], temperature['MES_int']):
    x.append(datetime(year = year, month = month, day = 1))

temperature['FECHA'] = x

In [12]:
temperature.head()

                 ENTIDAD   AÑO    MES  TEMPERATURA  MES_int      FECHA
0         AGUASCALIENTES  1985  ENERO    20.712779        1 1985-01-01
1        BAJA CALIFORNIA  1985  ENERO    17.562808        1 1985-01-01
2    BAJA CALIFORNIA SUR  1985  ENERO    22.659097        1 1985-01-01
3               CAMPECHE  1985  ENERO    29.954718        1 1985-01-01
4  COAHUILA  DE ZARAGOZA  1985  ENERO    15.060987        1 1985-01-01

In [15]:
min(temperature.TEMPERATURA)

13.31845905

In [ ]:
temperature.groupby(by = 'ENTIDAD')

In [ ]:
import plotly as py
import plotly.graph_objs as go

py.offline.init_notebook_mode() # run at the start of every ipython notebook so that we can work offline

In [ ]:
scatter_plot_trace = go.Scatter(
    x = temperature['FECHA'],  
    y = temperature['TEMPERATURA'],
    mode = "markers",  # we want the observations to be points
    marker = dict(  # this object describes what the points will look like
        size = 4  # this is the size of the points; we could also change the colors
    )
)

traces = [scatter_plot_trace]  # the traces that make up our plot have to be stored in a list, even there is only one

scatter_plot_layout = go.Layout(
    xaxis = dict(title = 'Fecha'),  # we reuse the names
    yaxis = dict(title = 'Temperatura')
)

fig = go.Figure(data = traces, layout = scatter_plot_layout)  # we build a figure object that takes the traces as an input

py.offline.iplot(fig)  # finally we plot the figure object

In [ ]:
estados = sorted(list(set(temperature.ENTIDAD)))

estados_nombres = ['Aguascalientes',
                   'Baja California',
                   'Baja California Sur',
                   'Campeche',
                   'Chiapas',
                   'Chihuahua',
                   'Coahuila',
                   'Colima',
                   'DF',
                   'Durango',
                   'Guanajuato',
                   'Guerrero',
                   'Hidalgo',
                   'Jalisco',
                   'Michoacán',
                   'Morelos',
                   'México',
                   'Nayarit',
                   'Nuevo León',
                   'Oaxaca',
                   'Puebla',
                   'Querétaro',
                   'Quintana Roo',
                   'San Luis Potosí',
                   'Sinaloa',
                   'Sonora',
                   'Tabasco',
                   'Tamaulipas',
                   'Tlaxcala',
                   'Veracruz',
                   'Yucatán',
                   'Zacatecas']

title = 'Variacion de Temperatura'

def get_spaced_colors(n):
    max_value = 16581375 #255**3
    interval = int(max_value / n)
    colors = [hex(I)[2:].zfill(6) for I in range(0, max_value, interval)]
    
    return ['rgb' + str((int(i[:2], 16), int(i[2:4], 16), int(i[4:], 16))) for i in colors]

colors = get_spaced_colors(31)

line_size = [2] * 32

traces = []

for i in range(len(estados)):
    temporal = temperature[temperature.ENTIDAD == estados[i]].sort_values('FECHA')
    traces.append(go.Scatter(
        x=temporal.FECHA,
        y=temporal.TEMPERATURA,
        mode='lines+markers',
        line=dict(color=colors[i], width=line_size[i]),
        showlegend=True,
        name=estados_nombres[i],
    ))
    
scatter_plot_layout = go.Layout(
    xaxis = dict(title = 'Fecha'),  # we reuse the names
    yaxis = dict(title = 'Temperatura')
)

fig = go.Figure(data = traces, layout = scatter_plot_layout)  # we build a figure object that takes the traces as an input

py.offline.iplot(fig)

In [17]:
temperature.columns

Index([u'ENTIDAD', u'AÑO', u'MES', u'TEMPERATURA', u'MES_int', u'FECHA'], dtype='object')

In [19]:
temperature.ENTIDAD

0                         AGUASCALIENTES
1                        BAJA CALIFORNIA
2                    BAJA CALIFORNIA SUR
3                               CAMPECHE
4                  COAHUILA  DE ZARAGOZA
5                                 COLIMA
6                                CHIAPAS
7                              CHIHUAHUA
8                       DISTRITO FEDERAL
9                                DURANGO
10                            GUANAJUATO
11                              GUERRERO
12                               HIDALGO
13                               JALISCO
14                                M�XICO
15                   MICHOAC�N DE OCAMPO
16                               MORELOS
17                               NAYARIT
18                            NUEVO LE�N
19                                OAXACA
20                                PUEBLA
21                             QUER�TARO
22                          QUINTANA ROO
23                       SAN LUIS POTOS�
24                               SINALOA
25                                SONORA
26                               TABASCO
27                            TAMAULIPAS
28                              TLAXCALA
29       VERACRUZ DE IGNACIO DE LA LLAVE
                      ...
11853                BAJA CALIFORNIA SUR
11854                           CAMPECHE
11855              COAHUILA  DE ZARAGOZA
11856                             COLIMA
11857                            CHIAPAS
11858                          CHIHUAHUA
11859                   DISTRITO FEDERAL
11860                            DURANGO
11861                         GUANAJUATO
11862                           GUERRERO
11863                            HIDALGO
11864                            JALISCO
11865                             M�XICO
11866                MICHOAC�N DE OCAMPO
11867                            MORELOS
11868                            NAYARIT
11869                         NUEVO LE�N
11870                             OAXACA
11871                             PUEBLA
11872                          QUER�TARO
11873                       QUINTANA ROO
11874                    SAN LUIS POTOS�
11875                            SINALOA
11876                             SONORA
11877                            TABASCO
11878                         TAMAULIPAS
11879                           TLAXCALA
11880    VERACRUZ DE IGNACIO DE LA LLAVE
11881                            YUCAT�N
11882                          ZACATECAS
Name: ENTIDAD, dtype: object

In [23]:
anio =temperature.columns[1]

In [27]:
temperature['AÑO']

0        1985
1        1985
2        1985
3        1985
4        1985
5        1985
6        1985
7        1985
8        1985
9        1985
10       1985
11       1985
12       1985
13       1985
14       1985
15       1985
16       1985
17       1985
18       1985
19       1985
20       1985
21       1985
22       1985
23       1985
24       1985
25       1985
26       1985
27       1985
28       1985
29       1985
         ...
11853    2014
11854    2014
11855    2014
11856    2014
11857    2014
11858    2014
11859    2014
11860    2014
11861    2014
11862    2014
11863    2014
11864    2014
11865    2014
11866    2014
11867    2014
11868    2014
11869    2014
11870    2014
11871    2014
11872    2014
11873    2014
11874    2014
11875    2014
11876    2014
11877    2014
11878    2014
11879    2014
11880    2014
11881    2014
11882    2014
Name: AÑO, dtype: int64

In [28]:
temperature.to_pickle('temperature_mex_gov.p')